html body {
    
    background-color: #f4f4e3 ;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: auto;
}

.title {
    top: 50px;
    position: absolute;
    left: 80px;
    width: 900px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
  }

main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 1.5vh;
}

.homepage {
    position: absolute;
    height: 100px;
    width: auto;
    top: 35px;
    
}
  
/* Tablet */
@media (max-width:1680px) {
    body{
        
    }
}
/* Mobile */ 
@media (max-width: 375px) {
  .title {
    top: 70px;
    position: absolute;
    left: 80px;
    width: 90px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
    main{
        font-size: 10px;
    }

}

