
    html{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    nav{
        position: relative;
    
    }
    li{
        font-size: 5vw;
        list-style: none;
        position: relative;
        margin-left: 5vw;
        

    }

    ul{
        margin-top: 20vh;
    
    }
    h1 {
        font-size: 8vw;
        position: relative;
        left: 3vw;
    }
    .info1 {
        position: absolute;
        font-size: 3vw;
        /* left: 700px; */
        /* top: 150px; */
        display: none;
        left: 30vw;
        top: 40%;
        width: 50vw;
    }
    .info2{
        position: absolute;
        font-size: 3vw;
        /* left: 700px; */
        /* top: 150px; */
        display: none;
        left: 40vw;
        top: 40%;
        
    }
    .info3{
        position: absolute;
        font-size: 3vw;
        /* left: 700px; */
        /* top: 150px; */
        display: none;
        left: 40vw;
        top: 40%;
        
        
    }

    /* Tablet */
@media (max-width:1680px) {
    body{
        
    }
}

