
    html{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    nav{
        position: relative;
    
    }
    li{
        font-size: 5em;
        list-style: none;
        position: relative;
        

    }

    ul{
        margin-top: 30vh;
    margin-left: 10vw;
    }
    h1 {
        font-size: 8em;
        position: relative;
        left: 3vw;
    }
    .info1 {
        position: absolute;
        font-size: 3em;
        /* left: 700px; */
        /* top: 150px; */
        display: none;
        left: 40vw;
        top: 50vh;
        width: 60vw;
    }
    .info2{
        position: absolute;
        font-size: 3em;
        /* left: 700px; */
        /* top: 150px; */
        display: none;
        left: 40vw;
        top: 50%;
        width: 20vw;
    }
    .info3{
        position: absolute;
        font-size: 3em;
        /* left: 700px; */
        /* top: 150px; */
        display: none;
        left: 40vw;
        top: 50%;
        width: 20vw;
        
    }

    /* Tablet */
@media (max-width:1680px) {
    body{
        
    }
}

/* Mobile */
@media (max-width: 375px) {
    h1 {
        font-size: 60px;
        position: relative;
        left: 30px;
    }
    h1 {
        font-size: 50px;
        position: relative;
        left: 20px;
    }

    li {
        font-size: 40px;
        list-style: none;
        position: relative;
        left: -20px;
        top: 300px;
    }
    .info1 {
        position: relative;
        font-size: 15px;
        left: 180px;
        top: 130px;
        display: none;
        width: 150px;
    }
    .info2 {
        position: relative;
        font-size: 15px;
        left: 180px;
        top: 210px;
        display: none;
    }
    .info3 {
        position: relative;
        font-size: 15px;
        left: 230px;
        top: 260px;
        display: none;
    }
    }