body {
    width: 100%;
    height: 100%;
    background-color: rgb(147, 194, 157) ;
}

.inbg {
    width: 95%;
    height: 2000px;
    background-color: white;
    position: relative;
    text-align: center;
    left: 40px;
    top: 80px;
}

#header {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color:;
    left:190px;
    top: 180px;
}

.head1 {
    height:100px;
    width: auto;
    position: absolute;
    left:20px;
    top: 50px;

}

.murphy{
    position: absolute;
    left: 140px;
    top:70px;
    width: 300px;
    height:auto;
    

}

.intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    left:148px;
    top: 120px;
}



.monster {
    height:250px;
    width:auto;
    right: -60px;
    top: -80px;
    position: fixed;
    cursor: pointer;
}


#grid1 {
    position: absolute;
    width: 500px;
    height: 1000px;
    background-color: ;
    top: 500px;
    left: 160px;
}

#grid2 {
    position: absolute;
    width: 500px;
    height: 1000px;
    background-color: ;
    top: 300px;
    right: 240px;
}

.studio {
    position: relative;
    height: 600px;
    width: 600px;
    cursor: pointer;
}

.lecture {
    position: relative;
    height: 600px;
    width: 600px;
    top: 200px;
    cursor: pointer;
}

.interaction {
    position: relative;
    height: 600px;
    width: 600px;
    cursor: pointer;
}

.photography {
    position: relative;
    height: 600px;
    width: 600px;
    top: 200px;
    cursor: pointer;
}

.lecture:hover{
    opacity: 0.7;
}

.interaction:hover{
    opacity: 0.7;
}

.photography:hover{
    opacity: 0.7;
}

.studio:hover{
    opacity: 0.7;
}