

body {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.me {
    position: absolute;
    /* position: relative; */
    width: 30vh;
    margin-left: 15vw;
    margin-top: 15vh;
    margin-bottom: 2vh;
}

#header {
    position: absolute;
    width: 40vw;
    height: 200px;
    background-color: ;
    left: 15vw;
    top: 20vh;
}

.head1 {
    height:100px;
    width: auto;
    position: relative;
    margin-left: 3vw;
    margin-bottom: 60vh;
}

#name {
    font-size: 2em;
    position: relative;
    margin-left: 13vw;
    margin-top: 5vh;
}

.intro{
    font-size: 1em;
    position: relative;
    margin-left: 13vw;
    margin-top: 5vh;
}



.monster {

        height: 25vh;
        width: auto;
        position: fixed;

    cursor: pointer;
}




.test:hover{
    opacity: 0.7;
}

.test{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    min-width: 150px;
    
   }
   .container{
    width: 70%;
    position: relative;
    margin: auto;
    top:25vh;
    
   }
/* Mobile */ 
@media (max-width:375px ) {
    .test{
     float: left;
     width: 100%;
     box-sizing: border-box;
     padding: 10px;
    }
    .monster {
        height: 25vh;
        width: auto;
        position: fixed;
        cursor: pointer;
        left: 30vh;
    }
   }
/* Tablet */
@media (max-width:1680px) {
   
}
